// Test for ajax success
console.log("This is the create.js.erb file");

$("#contact-form").hide(500, function() {
  ("#contact-form").html("<div>Dziękujemy za wpis</div>");
  ("#contact-form").show(500);
});
