@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Alata";
  src: url('/assets/Alata-Regular');
}
html {
  background-color: #FDEEF6;
}
body {
  font-family: "Alata", sans-serif;
  color: #159793;
}

#homepage {color: #FDEEF6; background-image: url(/images/bg_boat_sm.jpg) }
#homepage p {margin: 0; color: #FDEEF6;}
#logo {width: 100px; height: 70px;}
#facebook, #instagram {width: 26px; height: 26px;}
#o_mnie article img {width: 180px; height: 180px; margin:0 auto;}
#o_mnie_bg {background-image: url(/images/o_mnie_sm.jpg)}
#poradnictwo_bg {background-image: url(/images/poradnictwo_sm.jpg)}
#kontakt_bg {background-image: url(/images/kontakt_sm.jpg)}

@media (min-width:768px) {
  #o_mnie_bg {background-image: url(/images/o_mnie_lg.jpg)}
  #poradnictwo_bg {background-image: url(/images/poradnictwo_sm.jpg)}
  #kontakt_bg {background-image: url(/images/kontakt_lg.jpg)}
}

@media (min-width:1024px) {
  #logo {width: 120px; height: 84px;}
  #homepage { background-image: url(/images/bg_boat_lg.jpg)}
  #facebook, #instagram {width: 28px; height: 28px;}
  #warsztaty_bg_left {background-image: url(/images/warsztaty_left.jpg)}}

@media (min-width:1280px) {
  #logo {width: 151px; height: 106px;}
  #homepage { background-image: url(/images/bg_boat_xl.jpg) }
  #facebook, #instagram {width: 30px; height: 30px;}i
  #o_mnie_bg {background-image: url(/images/o_mnie_xl.jpg)}
  #poradnictwo_bg {background-image: url(/images/poradnictwo_xl.jpg)}
  #kontakt_bg {background-image: url(/images/kontakt_xl.jpg)}
  #o_mnie article img {margin: 0; width: 225px; height: 227px;}}

#menu-toggle:checked + #menu {
  display: block;
}

#menu li.active a {
  @apply text-teal-700;
}

#menu a:hover, .language-selector a:hover {
  @apply text-teal-400;
}

main {
  background-color: #159793;
}

main p {
  margin-bottom:10px;
}

main#kontakt p {
  margin-bottom: 4px;
}

main ol {
  @apply list-decimal mb-2 ml-4;
}

main ul {
  @apply list-disc mb-2 ml-4;
}

main#praca-z-cialem nav ul {
  @apply m-0 list-none;
}

article a {
  @apply tracking-widest;
}

#o_mnie, #poradnictwo {
  color:#fdeef6;
}

#poradnictwo h4 {
 @apply text-base;
}

#praca-z-cialem .left-column, #warsztaty article {
  background-color: #FDEEF6;
}

#warsztaty td {
  @apply pb-4 pr-8 tracking-widest;
}

#warsztaty_lista {
  background-color: #159793;
  color: #FDEEF6;
}

main a:hover, #praca-z-cialem nav a:hover, #praca-z-cialem nav .active {
  text-decoration: underline;
}

#kontakt {
  color: #FDEEF6;
}

#kontakt svg {
  display: inline;
}

#social_media_icons a:hover {
  text-decoration: none;
}

#kontakt #instagram {
  @apply ml-1;
  @apply mt-0;
}

/* Lightbox */

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/images/lightbox/loading.gif);
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/images//lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/images//lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/images//lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Overlay images */

.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}
#galeria img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  height: 100%;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: hidden;
}

.overlay {
  opacity: 0;
}

#galeria .wrapper {
  background-color: #128283;
}

#galeria .wrapper:hover img {
  opacity: 0;
}
#galeria .wrapper:hover .overlay {
  opacity: 1;
}
#galeria h2, #galeria a {color: #FDEEF6}
