@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Alata";
  src: url('/assets/Alata-Regular');
}
html {
  background-color: #FDEEF6;
}
body {
  font-family: "Alata", sans-serif;
  color: #159793;
}
main {
  background-color: #159793;
}

#menu-toggle:checked + #menu {
  display: block;
}
a:hover {
  @apply text-teal-400;
}
#menu li.active a {
  @apply text-teal-700;
}

#o_mnie, #poradnictwo {
  color:#fdeef6;
}

#o_mnie p, #poradnictwo p {
  margin-bottom:10px;
}

#poradnictwo ol {
  @apply list-decimal mb-2 ml-4;
}

#poradnictwo ul {
  @apply list-disc mb-2 ml-4;
}

#poradnictwo h4 {
 @apply text-base;
}

#praca-z-cialem .left-column {
  background-color: #FDEEF6;
}
