<div id="social_media_icons">
  <%= link_to "https://www.facebook.com/kalaholistycznie/", target: :_blank do %>
    <svg id="facebook" x="0px" y="0px" width="30" height="30" viewBox="0 0 76.26 76.86" class="fill-current"><path class="st0" d="M38.82.71C17.85.71.85 17.71.85 38.68c0 20.96 17 37.96 37.97 37.96 20.96 0 37.96-17 37.96-37.96 0-20.97-17-37.97-37.96-37.97zm18.47 54.02c0 1.12-.55 2.31-1.66 2.31h-9.34v-14h4.75l.72-6h-5.47v-3.58c0-1.6.43-2.42 2.73-2.42h3.27v-5.23c-1-.07-2.55-.22-4.58-.22-4.22 0-7.42 2.58-7.42 7.32v4.13h-5v6h5v14H22.97c-1.12 0-1.68-1.19-1.68-2.31V22.07c0-1.12.56-2.03 1.68-2.03h32.66c1.11 0 1.66.91 1.66 2.03v32.66z"/></svg>
  <% end %>

  <%= link_to "https://www.instagram.com/kalaholistycznie/", target: :_blank do %>
    <svg id="instagram" class="fill-current mt-2 lg:mt-3" x="0px" y="0px" width="30" height="30" viewBox="0 0 76.26 76.86"><path class="st0" d="M32.91 39.23c0-3.89 3.15-7.04 7.04-7.04 3.9 0 7.06 3.15 7.06 7.04 0 3.88-3.16 7.03-7.06 7.03-3.89 0-7.04-3.15-7.04-7.03zM53.43 30.04c0 .64-.51 1.15-1.15 1.15h-3.7c-.64 0-1.15-.51-1.15-1.15v-3.7c0-.64.51-1.15 1.15-1.15h3.7c.64 0 1.15.51 1.15 1.15v3.7z"/><path class="st0" d="M50.22 36.19h4.21v16.74c0 .64-.14 1.26-.77 1.26h-27.5c-.63 0-.73-.62-.73-1.26V36.19h4.17c-.6 0-.8 2.24-.8 3.26 0 6.13 5.01 11.02 11.15 11.02 6.16 0 11.16-4.83 11.16-10.97 0-1.02-.15-3.31-.89-3.31z"/><path class="st0" d="M38.96 1.32C17.99 1.32.99 18.32.99 39.29c0 20.96 17 37.96 37.97 37.96 20.96 0 37.96-17 37.96-37.96 0-20.97-17-37.97-37.96-37.97zm19.47 51.85c0 2.4-2.14 4.02-4.54 4.02H25.94c-2.41 0-4.51-1.62-4.51-4.02V25.2c0-2.4 2.1-4.01 4.51-4.01h27.95c2.4 0 4.54 1.61 4.54 4.01v27.97z"/></svg>
  <% end %>
</div>
